<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="motor1_controller" type="system">
    <hardware>
      <plugin>gm6020_ros/Gm6020CanHardware</plugin>
      <param name="motor_id">1</param>
    </hardware>
    <joint name="motor1_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>
  </ros2_control>
</robot>
